@tailwind base;
@tailwind components;
@tailwind utilities;

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(23, 4, 33);
}